* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
}

header {
    background-color: #f4d050;
    padding: 20px 20px;

    .main {
        .logo {
            width: 15%;

            .image {
                display: flex;
                align-items: center;

                span {
                    color: white;
                    font-size: 28px;
                    font-weight: 600;
                    padding-left: 12px;
                }
            }
        }
    }
}

.note-section {
    padding: 50px 0px 25px 0px;

    .container {
        .row {
            display: flex;
            justify-content: center;

            .main {
                box-shadow: 10px 10px 10px #b6bab6;

                .title {
                    input {
                        border: 0;
                        width: 300px;
                        padding: 10px;
                        font-size: 17px;
                        font-weight: 600;
                        font-family: inherit;
                        outline: none;
                    }
                }

                .write-note {
                    textarea {
                        border: 0;
                        max-width: 300px;
                        padding: 10px;
                        font-size: 17px;
                        font-weight: 600;
                        font-family: inherit;
                        outline: none;
                    }
                }

                .btn {
                    display: flex;
                    justify-content: end;

                    button {
                        border: 0px;

                        i {
                            padding: 12px 8px;
                            color: #f7b61e;
                            font-size: 20px;
                            font-weight: 900;

                        }
                    }
                }

                ::placeholder {
                    color: #757575;
                }
            }
        }
    }
}

.card-section {
    .container {
        .row {
            .all-cards {
                display: flex;
                flex-wrap: wrap;
                padding: 60px 0px;

                .card {
                    width: 25%;
                    padding: 12px;

                    .content {
                        padding: 12px;
                        background-color: #fff1bd;
                        border-radius: 12px;
                        min-height: 150px;
                        position: relative;

                        h2 {
                            text-align: center;
                        }

                        p {
                            padding: 8px;
                        }

                        .delete {
                            position: absolute;
                            bottom: 20px;
                            left: 49%;

                            button {
                                border: 0px;
                                cursor: pointer;

                                i {
                                    color: red;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #f7b61e;
    padding: 5px 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;

    .main {
        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                color: white;
            }
        }
    }
}